<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SIXDEGREES_API_KEY</key>
    <string>b6dbed7041e451e28ec399551ac63d466fb72b1e</string>
    <key>SIXDEGREES_PRIVATE_KEY</key>
    <string>259751da71cd7a76b5ab422cbc0981b034d51b36</string>
</dict>
</plist>
 
    
